@import 'tailwindcss';
@plugin "@tailwindcss/typography";

* {
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  background-color: black;
}

@theme {
  --font-noto-serif: 'Noto Serif', serif;
}
